@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter/Inter-ExtraBold.woff2") format("woff2");
}

:root {
  --base-font-family: "Inter", sans-serif;
}
/* STYLES COMMON */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--base-font-family);
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
  background-color: #01003a;
  overflow: hidden;
}

h1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 54px;
    line-height: 72px;
  }
}

.extrafs {
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
  color: #01eafa;
}

@media screen and (min-width: 768px) {
  .extrafs {
    font-size: 52px;
    line-height: 70px;
  }
}

h2,
.h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  h2,
  .h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 44px;
  }
}

h3,
.h3 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 768px) {
  h3,
  .h3 {
    font-size: 32px;
    line-height: 38px;
  }
}

h4,
.h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 768px) {
  h4,
  .h4 {
    font-size: 22px;
    line-height: 30px;
  }
}

h5,
.h5 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  h5,
  .h5 {
    font-size: 18px;
    line-height: 28px;
  }
}

h6,
.h6 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  h6,
  .h6 {
    font-size: 16px;
    line-height: 26px;
  }
}

dl,
ol,
ul {
  padding-inline-start: 22px;
}

a:focus-visible,
a span:focus-visible {
  outline: none;
}

p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ccccde;
}

p + p {
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

.pre-text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .pre-text {
    font-size: 18px;
    line-height: 28px;
  }
}

.sub-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.colorText {
  color: #01eafa;
}

.primaryText {
  color: #ccccde;
}

/* Padding Margin */
.py-60 {
  padding: 60px 0 !important;
}

.pt-60 {
  padding-top: 60px !important;
}

@media screen and (min-width: 992px) {
  .pt-120 {
    padding-top: 120px !important;
  }

  .pb-120 {
    padding-bottom: 120px !important;
  }
}

.mb-44 {
  margin-bottom: 40px !important;
}

@media screen and (min-width: 768px) {
  .mb-44 {
    margin-bottom: 44px !important;
  }
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-20 {
  margin-bottom: 12px !important;
}

@media screen and (min-width: 768px) {
  .mb-20 {
    margin-bottom: 20px !important;
  }
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mt-60 {
  margin-top: 24px !important;
}

@media screen and (min-width: 768px) {
  .mt-60 {
    margin-top: 60px !important;
  }
}

.my-52 {
  margin: 40px 0 !important;
}

@media screen and (min-width: 768px) {
  .my-52 {
    margin: 52px 0 !important;
  }
}

.mt-40 {
  margin-top: 24px !important;
}

@media screen and (min-width: 992px) {
  .mt-40 {
    margin-top: 40px !important;
  }
}

.p-60 {
  padding: 28px 20px !important;
}

@media screen and (min-width: 768px) {
  .p-60 {
    padding: 60px !important;
  }
}

.p-32 {
  padding: 20px !important;
}

@media screen and (min-width: 1024px) {
  .p-32 {
    padding: 32px !important;
  }
}

.p-24 {
  padding: 20px !important;
}

@media screen and (min-width: 768px) {
  .p-24 {
    padding: 24px !important;
  }
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pb-28 {
  padding-bottom: 28px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.ps-8 {
  padding-left: 8px !important;
}

/* End Padding Margin */

picture,
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #0c5adb;
  border-radius: 4px;
}

.picture-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.section-bg-light {
  background: #00005c;
}

.section-bg-dark {
  background: #01003a;
}

/* HEADER */
header {
  overflow: hidden;
}

.site-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #000;
}

.wrap-main-content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-position: 65% bottom;
  background-size: cover;
  background-color: #000;
}

.slogan-text {
  position: absolute;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 580px;
}

@media screen and (min-width: 1025px) {
  .wrap-main-content {
    background-position: 60% top;
    background-position-x: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .wrap-main-content {
    background-position-x: 75%;
  }
}

@media screen and (max-width: 680px) {
  .wrap-main-content {
    background-color: #000;
    background-image: none;
  }

  .mob-main-img {
    background-color: #000;
    background-image: url(../img/main-bg-mob.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-size: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 120%;
    height: 50vh;
  }

  .auto-height {
    height: 50vh;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .auto-height {
    height: auto;
  }

  .mob-main-img {
    height: 370px;
  }

  .link-mob {
    margin-top: 60px;
  }
}

.bubble-speech {
  display: block;
  position: absolute !important;
  z-index: 1 !important;
  right: auto;
  top: 87%;
  max-width: 290px;
  text-align: center;
  background-color: #4612a4;
  color: #fff;
  border-radius: 2px;
  padding: 12px 20px;
}

@media screen and (min-width: 768px) {
  .bubble-speech {
    right: -27%;
    top: 65%;
    max-width: 220px;
  }

  .bubble-speech:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    top: -4px;
    border: 20px solid;
    border-color: #4612a4 transparent transparent #4612a4;
    transform: rotate(100deg);
  }
}

@media screen and (min-width: 1440px) {
  .bubble-speech {
    right: -22%;
  }
}

.navigation {
  float: left;
  width: 100%;
  z-index: 10;
}

.nav-width {
  max-width: 1280px;
  margin: auto;
}

.navigation.fixed-top {
  padding: 16px 20px;
}

.navigation.bg-scrolled {
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 480px) {
  .navigation.fixed-top {
    padding: 20px 40px;
  }
}

.navigation {
  padding: 30px 0;
}

.logo {
  width: fit-content;
  float: left;
}

.logo-text {
  color: #00eafa;
  text-shadow: 2px 1px 3px #272424;
  font-size: 32px;
}

.color-text {
  color: #00eafa;
}

.navigation .logo img {
  max-width: 200px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0 !important;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

.sidenav a {
  padding: 16px 8px;
  text-decoration: none;
  line-height: 18px;
  color: #fff;
  display: block;
  transition: all 0.8s;
  position: relative;
  background: linear-gradient(to right, #00005c, #108891, #00005c);
  background-size: 100% 1px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.sidenav a:last-child,
.sidenav a.closebtn {
  background: none;
}

.sidenav a:hover,
.sidenav a:focus {
  padding-right: 8px;
  padding-left: 8px;
}

@media screen and (min-width: 1024px) {
  .sidenav a {
    font-size: 25px;
    line-height: 24px;
  }

  .bg-menu-sub {
    margin: -28px;
    padding: 60px !important;
  }
}

.sidenav {
  background: url(../img/bg-menu.jpg) no-repeat center center / cover;
}

.bg-menu {
  background: #00005c;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  text-shadow: 0 2px 4px #041bae;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 580px) {
  .bg-menu {
    height: 100vh;
  }
}

.bg-menu-sub {
  width: 100%;
}

.bg-menu-sub a.text-decoration-none {
  position: absolute;
  top: 8px;
  left: 8px;
  background: none;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
}

.navigation-right {
  display: none;
}

@media screen and (min-width: 1280px) {
  .navigation.fixed-top {
    padding: 20px 40px;
  }

  .navigation-right {
    display: flex;
    gap: 30px;
  }

  .navigation-right-item {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 1px 3px #272424;
    transition: background-color 0.3s, color 0.3s;
  }

  .navigation-right-item.active {
    color: #01eafa;
  }

  .navigation-right a:hover,
  .navigation-right a:focus,
  .navigation-right a:active {
    color: #01eafa;
  }
}

.hamburger-1 {
  width: 40px;
  height: 40px;
  position: relative;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.1s;
  font-size: 23px;
  cursor: pointer;
  color: #fff;
  float: right;
}
.hamburger-1 span {
  position: absolute;
  display: inline-block;
  background-color: #00eafa;
  width: 8px;
  height: 8px;
  margin: 2.6666666667px;
  border-radius: 20px;
  transition: all 0.3s linear;
}
.hamburger-1 span:nth-child(1),
.hamburger-1 span:nth-child(2),
.hamburger-1 span:nth-child(3) {
  top: 0;
}
.hamburger-1 span:nth-child(4),
.hamburger-1 span:nth-child(5),
.hamburger-1 span:nth-child(6) {
  top: 13.3333333333px;
}
.hamburger-1 span:nth-child(7),
.hamburger-1 span:nth-child(8),
.hamburger-1 span:nth-child(9) {
  top: 26.6666666667px;
}
.hamburger-1 span:nth-child(1),
.hamburger-1 span:nth-child(4),
.hamburger-1 span:nth-child(7) {
  left: 0;
}
.hamburger-1 span:nth-child(2),
.hamburger-1 span:nth-child(5),
.hamburger-1 span:nth-child(8) {
  left: 13.3333333333px;
}
.hamburger-1 span:nth-child(3),
.hamburger-1 span:nth-child(6),
.hamburger-1 span:nth-child(9) {
  left: 26.6666666667px;
}
.hamburger-1.is--active {
  transform: rotate(45deg);
}
.hamburger-1.is--active span:nth-child(5) {
  transform: scale(1.2);
}
.hamburger-1.is--active span:nth-child(1) {
  transform: translate(13.3333333333px, 13.3333333333px);
}
.hamburger-1.is--active span:nth-child(3) {
  transform: translate(-13.3333333333px, 13.3333333333px);
}
.hamburger-1.is--active span:nth-child(7) {
  transform: translate(13.3333333333px, -13.3333333333px);
}
.hamburger-1.is--active span:nth-child(9) {
  transform: translate(-13.3333333333px, -13.3333333333px);
}
.hamburger-1.is--active span:nth-child(2) {
  top: -4px;
  height: 20px;
}
.hamburger-1.is--active span:nth-child(4) {
  left: -4px;
  width: 20px;
}
.hamburger-1.is--active span:nth-child(6) {
  width: 20px;
  left: 30.6666666667px;
  transform: translateX(-13.3333333333px);
}
.hamburger-1.is--active span:nth-child(8) {
  height: 20px;
  top: 30.6666666667px;
  transform: translateY(-13.3333333333px);
}
.hamburger-1:not(.is--active):hover span:nth-child(1) {
  transform: translate(-1px, -1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(3) {
  transform: translate(1px, -1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(7) {
  transform: translate(-1px, 1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(9) {
  transform: translate(1px, 1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(2) {
  transform: translateY(-1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(4) {
  transform: translateX(-1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(8) {
  transform: translateY(1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(6) {
  transform: translateX(1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(5) {
  transform: scale(1.4);
}

.navbar-right {
  margin-right: 0px !important;
}

@media screen and (min-width: 1280px) {
  .navbar-right {
    display: none;
  }
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 2%;
  transform: translate(-50%, -50%);
  color: #fff;
}

@media screen and (min-width: 680px) {
  .main-content {
    left: 35%;
    border-radius: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    left: 25%;
  }
}

@media screen and (min-width: 1280px) {
  .main-content {
    left: 25%;
    top: 55%;
  }
}

@media screen and (max-width: 680px) {
  .main-content {
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .circle {
    margin: auto;
  }
}

.circle1 {
  width: 550px;
  height: 550px;
  border: 3px solid #081c1e;
}

.circle2 {
  width: 450px;
  height: 450px;
  border: 3px solid #0d4449;
}

.circle3 {
  width: 350px;
  height: 350px;
  border: 3px solid #108891;
  background: #00000021;
}

@media screen and (max-width: 1420px) {
  .circle1 {
    width: 480px;
    height: 480px;
    border: 3px solid #081c1e;
  }

  .circle2 {
    width: 380px;
    height: 380px;
  }

  .circle3 {
    width: 280px;
    height: 280px;
  }

  h1 {
    font-size: 44px;
    line-height: 58px;
  }
}

@media screen and (max-width: 680px) {
  .circle1 {
    width: 300px;
    height: 300px;
  }

  .circle2 {
    width: 227px;
    height: 227px;
  }

  .circle3 {
    width: 160px;
    height: 160px;
  }

  h1 {
    font-size: 28px;
    line-height: 38px;
    max-width: 60%;
  }
}

.circle p {
  max-width: 275px;
}

.circle p span {
  background: #0c5adb;
  padding: 2px 4px;
  display: inline-block;
}

/* CHAT WIDGET */
.chat-widget {
  position: fixed;
  bottom: 12px;
  left: 20px;
  z-index: 1;
}

.chat-button {
  border: none;
  width: 60px;
  height: 60px;
  font-size: 18px;
  cursor: pointer;
  color: #00005c;
  background-color: #01eafa;
  border-radius: 2px;
}

.chat-box {
  display: none;
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 300px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.chat-header {
  background-color: #01eafa;
  color: #00005c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-chat {
  font-weight: 600;
}

.reply {
  font-size: small;
}

.reply::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 4px;
  border-radius: 50%;
  border: 2px solid #43b72a;
  background: #43b72a;
}

.chat-header .close-chat {
  background: none;
  border: none;
  color: #00005c;
  font-size: 20px;
  cursor: pointer;
}

.chat-messages {
  height: 250px;
  padding: 10px;
  overflow-y: auto;
  background: rgba(0, 234, 250, 0.1);
}

.chat-messages .message {
  margin-bottom: 10px;
  font-size: 14px;
}

.chat-messages .bot-message {
  background: #fff;
  color: #00005c;
  padding: 8px;
  border-radius: 2px;
  width: fit-content;
}

.chat-messages .user-message {
  background: rgba(0, 234, 250, 0.3);
  color: #00005c;
  padding: 8px;
  border-radius: 2px;
  width: fit-content;
  margin-left: auto;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: small;
}

.chat-input button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #00005c;
}

.chat-input #send-message svg {
  transform: rotate(90deg);
}

.emoji-picker {
  padding: 10px;
  border-top: 1px solid #ddd;
  background: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* SECTION DIGITAL */
.section-digital {
  padding-top: 60px;
}

.cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}

/* CARDS */
.card {
  background-color: #000079;
  color: #fff;
  border: 1px solid #2326c2;
  border-radius: 2px;
  flex: 1 1 100%;
}

@media screen and (min-width: 768px) {
  .card {
    flex: 1 1 calc(33.33% - 24px);
  }

  .card:nth-last-child(2),
  .card:last-child {
    flex: 1 1 calc(50% - 24px);
  }
}

.cards-w {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.cards-w .card {
  position: relative;
}

.content-card-w {
  position: relative;
  z-index: 1;
}

.cards-w .card:last-of-type .content-card-w {
  max-width: 378px;
}

.cards-w .card:first-of-type:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-image: url(../img/time-icon.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100px;
}

@media screen and (min-width: 768px) {
  .cards-w .card:first-of-type:after {
    width: 135px;
    height: 135px;
    background-size: 135px;
  }
}

.cards-w .card:last-of-type:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-image: url(../img/money-icon.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100px;
}

@media screen and (min-width: 768px) {
  .cards-w .card:last-of-type:after {
    width: 140px;
    height: 140px;
    background-size: 140px;
  }

  .short-text {
    max-width: 260px;
  }
}

@media screen and (min-width: 1024px) {
  .cards-w .card:last-of-type:after {
    width: 160px;
    height: 160px;
    background-size: 160px;
  }

  .short-text {
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .cards-w .card:last-of-type:after {
    width: 180px;
    height: 180px;
    background-size: 180px;
    top: auto;
    bottom: 0;
  }
}

#digital + #why {
  padding-top: 60px !important;
}

/* CARDS WHY */
.section-why {
  padding-top: 30px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section-why {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

.cards-why-on .card-item {
  position: relative;
}

.cards-why-on .card-item::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, #108891, #00005c);
  border-radius: 2px 2px 0 0;
}

.cards-why-on .card-item > * {
  position: relative;
  z-index: 1;
}

.cards-why-on img {
  width: 40px;
  min-width: 40px;
  height: auto;
}

/* SECTION OUR TEAM */
.section-our-team {
  background-size: cover;
  background-position: right;
}

.section-our-team h2 {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .section-our-team h2 {
    margin-bottom: 44px;
  }
}

.section-our-team .item-team img {
  border-radius: 50%;
  width: 100px;
}

.section-our-team .col-lg-6 {
  padding: 0;
}

.about-me {
  object-fit: cover;
  height: 100%;
}

.block-teams {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .block-teams {
    margin-top: 44px;
  }
}

.block-teams figure {
  display: flex;
  align-items: center;
  gap: 24px;
}

.block-teams figure:last-child {
  margin: 0;
}

.block-teams figcaption div {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.block-about-me {
  background: #000079;
  border: 1px solid #2326c2;
}

.sub-text-section {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .section-our-team .col-lg-6 .about-me {
    border-radius: 2px 0 0 2px;
  }

  .section-our-team .col-lg-6 .block-about-me {
    border-radius: 0 2px 2px 0;
  }
}

.plus-padding + .plus-padding {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .plus-padding + .plus-padding {
    padding-top: 80px;
  }
}

/* SECTION FOR.... */

.section-for .row {
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .section-for .row {
    gap: 0;
  }
}

.item-card {
  background: #000079;
  border: 1px solid #2326c2;
}

.info-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
}

.info-item {
  background: #000079;
  border: 1px solid #2326c2;
  border-radius: 2px;
}

.info-item ul {
  list-style: none;
}

.info-item ul > li {
  clear: left;
  padding-top: 12px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.info-item ul > li:first-child {
  padding-top: 0;
}

.info-item ul > li:before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  float: left;
  margin-left: -1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.info-item ul > li:before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10C0 7.34784 1.05357 4.8043 2.92893 2.92893C4.8043 1.05357 7.34784 0 10 0C12.6522 0 15.1957 1.05357 17.0711 2.92893C18.9464 4.8043 20 7.34784 20 10C20 12.6522 18.9464 15.1957 17.0711 17.0711C15.1957 18.9464 12.6522 20 10 20C7.34784 20 4.8043 18.9464 2.92893 17.0711C1.05357 15.1957 0 12.6522 0 10ZM14.708 8.208C14.801 8.11502 14.8747 8.00465 14.925 7.88317C14.9754 7.76169 15.0013 7.63149 15.0013 7.5C15.0013 7.36851 14.9754 7.23831 14.925 7.11683C14.8747 6.99535 14.801 6.88498 14.708 6.792C14.615 6.69902 14.5046 6.62527 14.3832 6.57495C14.2617 6.52463 14.1315 6.49874 14 6.49874C13.8685 6.49874 13.7383 6.52463 13.6168 6.57495C13.4954 6.62527 13.385 6.69902 13.292 6.792L9 11.086L6.708 8.792C6.61502 8.69902 6.50465 8.62527 6.38317 8.57495C6.26169 8.52464 6.13149 8.49874 6 8.49874C5.86851 8.49874 5.73831 8.52464 5.61683 8.57495C5.49535 8.62527 5.38498 8.69902 5.292 8.792C5.19902 8.88498 5.12527 8.99535 5.07495 9.11683C5.02464 9.23831 4.99874 9.36851 4.99874 9.5C4.99874 9.63149 5.02464 9.76169 5.07495 9.88317C5.12527 10.0046 5.19902 10.115 5.292 10.208L8.292 13.208C8.38489 13.3011 8.49524 13.375 8.61673 13.4254C8.73822 13.4758 8.86847 13.5018 9 13.5018C9.13153 13.5018 9.26178 13.4758 9.38327 13.4254C9.50476 13.375 9.61511 13.3011 9.708 13.208L14.708 8.208Z' fill='%2301EAFA'/%3E%3C/svg%3E");
  background-size: 20px;
  background-position: center;
  padding: 0.15rem;
}

/* SECTION SERVICES */
.services-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 28px;
}

@media screen and (min-width: 1280px) {
  .services-items {
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }
}

img.icon-info {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.item-info ul > li {
  clear: left;
  padding-top: 12px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #ccccde;
}

.hr-with-text {
  position: relative;
  text-align: center;
}

.hr-with-text::before,
.hr-with-text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 2px;
  background: linear-gradient(to left, #108891, #00005c);
  transform: translateY(-50%);
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .hr-with-text::before,
  .hr-with-text::after {
    width: 40%;
    height: 3px;
  }
}

@media screen and (min-width: 992px) {
  .hr-with-text::before,
  .hr-with-text::after {
    width: 42%;
    height: 3px;
  }
}

.hr-with-text::before {
  left: 0;
  background: linear-gradient(to left, #108891, #00005c);
}

.hr-with-text::after {
  right: 0;
  background: linear-gradient(to right, #108891, #00005c);
}

/* SECTION SLIDER */

.section-slider .slider-container {
  position: relative;
}

.section-slider .slider-container .item {
  display: none;
}

.section-slider .slider-container .active {
  display: flex;
}

.section-slider .button-container button {
  border: none;
  background: transparent;
  width: 60px;
  height: 60px;
  padding: 2px;
}

.section-slider .button-container {
  position: absolute;
  top: 8px;
  left: 8px;
}

@media screen and (min-width: 768px) {
  .section-slider .button-container {
    top: 16px;
    left: 16px;
  }
}

.slider-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .slider-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

.slider-container .item .row {
  gap: 28px;
}

@media screen and (min-width: 992px) {
  .slider-container .item .row {
    gap: 0;
  }
}

.slider-container .item img {
  max-height: 560px;
}

.button {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.button img {
  display: block;
  width: 60px;
  height: 60px;
  transition: filter 0.3s ease;
}

.button img.active {
  filter: drop-shadow(0px 0px 8px rgb(0, 0, 0, 0.4));
}

/* SECTION TABLE PRICING */

.pricing-table {
  display: flex;
  flex-direction: column;
}

.pricing-table .pt-title {
  display: flex;
}

.pricing-table .pt-title .pt-title-wrap {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 18px;
  text-align: center;
  background-color: #2326c2;
  color: #01eafa;
}

.pricing-table .pt-title .pt-title-wrap .pt-row {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  min-height: 60px;
  border-bottom: 1px solid rgb(73 72 74 / 20%);
}

.pricing-table .pt-option {
  position: relative;
}

.pricing-table .pt-option .pt-option-item {
  width: 100%;
  margin-right: 0;
}

.pricing-table .pt-option .pt-option-item .pt-item .pt-item-wrap {
  display: flex;
  flex-direction: row;
  position: relative;
}

.pricing-table .pt-option .pt-option-item .pt-item .pt-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  padding: 15px;
  border-bottom: 1px solid rgb(73 72 74 / 20%);
}

.pricing-table .pt-option .pt-option-item .pt-item .pt-row:first-child {
  align-items: flex-start;
  text-align: left;
  font-weight: 700;
  width: 30%;
}

.pt-row.icon:before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10C0 7.34784 1.05357 4.8043 2.92893 2.92893C4.8043 1.05357 7.34784 0 10 0C12.6522 0 15.1957 1.05357 17.0711 2.92893C18.9464 4.8043 20 7.34784 20 10C20 12.6522 18.9464 15.1957 17.0711 17.0711C15.1957 18.9464 12.6522 20 10 20C7.34784 20 4.8043 18.9464 2.92893 17.0711C1.05357 15.1957 0 12.6522 0 10ZM14.708 8.208C14.801 8.11502 14.8747 8.00465 14.925 7.88317C14.9754 7.76169 15.0013 7.63149 15.0013 7.5C15.0013 7.36851 14.9754 7.23831 14.925 7.11683C14.8747 6.99535 14.801 6.88498 14.708 6.792C14.615 6.69902 14.5046 6.62527 14.3832 6.57495C14.2617 6.52463 14.1315 6.49874 14 6.49874C13.8685 6.49874 13.7383 6.52463 13.6168 6.57495C13.4954 6.62527 13.385 6.69902 13.292 6.792L9 11.086L6.708 8.792C6.61502 8.69902 6.50465 8.62527 6.38317 8.57495C6.26169 8.52464 6.13149 8.49874 6 8.49874C5.86851 8.49874 5.73831 8.52464 5.61683 8.57495C5.49535 8.62527 5.38498 8.69902 5.292 8.792C5.19902 8.88498 5.12527 8.99535 5.07495 9.11683C5.02464 9.23831 4.99874 9.36851 4.99874 9.5C4.99874 9.63149 5.02464 9.76169 5.07495 9.88317C5.12527 10.0046 5.19902 10.115 5.292 10.208L8.292 13.208C8.38489 13.3011 8.49524 13.375 8.61673 13.4254C8.73822 13.4758 8.86847 13.5018 9 13.5018C9.13153 13.5018 9.26178 13.4758 9.38327 13.4254C9.50476 13.375 9.61511 13.3011 9.708 13.208L14.708 8.208Z' fill='%2301EAFA'/%3E%3C/svg%3E");
  background-size: 20px;
  background-position: center;
}

.pricing-table .pill::after {
  background-color: #052a67;
}

.pricing-table .pill.text-gradient {
  width: 100%;
}

.pricing-table .pt-option .pt-option-item .selected .pt-row {
  display: inline-flex;
  padding: 20px 15px;
  isolation: isolate;
}

.pricing-table .pt-option .pt-option-item .selected .pt-row {
  border-bottom: 0;
}

@media screen and (max-width: 767px) {
  .section-pricing {
    display: none;
  }
}

/* SECTION PRICING CARD */

.section-pricing-card article {
  overflow: hidden;
  isolation: isolate;
  border-width: 2px;
  border-color: transparent;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
  background-color: #2326c2;
  border: 1px solid #2326c2;
}

.section-pricing-card main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  z-index: 2;
}

.waves {
  inset: -30% 0 0 0;
  z-index: 1;
  overflow: hidden;
  color: #000079;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
}

.section-pricing-card article:hover .waves {
  inset: -30% -20% 0 -40%;
}

.top-text-gradient {
  background-color: #01eafa;
  -webkit-background-clip: text;
}

.top-text-gradient .h2 {
  color: #01eafa;
}

.pill {
  padding: 16px;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}

.pill::before,
.pill::after {
  content: "";
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: -1;
}

.pill::before {
  background: linear-gradient(-50deg, #e81cff 0%, #40c9ff 100%);
  border-radius: 50px;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.pill::after {
  --border-edge: 2px;
  background: #2326c2;
  border-radius: 50px;
  height: calc(100% - calc(var(--border-edge)) * 2);
  left: var(--border-edge);
  top: var(--border-edge);
  width: calc(100% - calc(var(--border-edge)) * 2);
}

.pill:hover::before {
  background: -webkit-linear-gradient(-50deg, #e81cff 0%, #40c9ff 100%);
}

.pill:hover::after {
  background-color: transparent;
}

.pill.text-gradient {
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
  text-decoration: none;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.pill.text-gradient:hover {
  -webkit-text-fill-color: white;
}

.line-item li {
  position: relative;
  background: linear-gradient(to right, #00005c, #108891, #00005c);
  background-size: 100% 1px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 12px;
}

/* SECTION TIMELINE */

.section-bg {
  background-image: url(../img/section-three.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timeline {
  width: 100%;
}

.timeline-content {
  position: relative;
  padding: 0 0 32px 60px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  cursor: auto;
}

.timeline-content:last-of-type {
  padding: 0 0 0 60px;
}

.timeline-content p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.timeline-content .number {
  position: absolute;
  content: var(--year);
  width: 36px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  color: white;
  border-radius: 50%;
  background-color: #000079;
  border: 1px solid #fff;
  left: 4px;
  top: -4px;
}

@media screen and (min-width: 768px) {
  .timeline-content .number {
    width: 44px;
    left: 0;
  }
}

.timeline-content:not(:last-child):before {
  position: absolute;
  content: "";
  width: 2px;
  background-color: #fff;
  color: #fff;
  left: calc(1.35rem - 0px);
  top: 2.1rem;
  bottom: 0.3rem;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .timeline-content:not(:last-child):before {
    top: 2.6rem;
    bottom: 0.3rem;
  }

  .timeline-img {
    max-width: 40%;
  }
}

/* SECTION CONTACT */

.section-contact {
  background-image: radial-gradient(
    circle at center right,
    #01eafa -30%,
    #00005c 60%
  );
}

.section-contact h2 {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .section-contact {
    background-image: radial-gradient(
      circle at center right,
      #01eafa -40%,
      #00005c 40%
    );
  }

  .section-contact h2 {
    margin-bottom: 44px;
  }
}

.bg-block {
  background-color: #000079;
  border: 1px solid #2326c2;
  border-radius: 0;
}

.input:focus {
  outline: none !important;
  border: 1px solid transparent;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: #ccccde !important;
  opacity: 1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #fff !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccccde !important;
}

input:hover:-ms-input-placeholder,
textarea:hover:-ms-input-placeholder {
  color: #fff !important;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #ccccde !important;
}

input:hover::-ms-input-placeholder,
textarea:hover::-ms-input-placeholder {
  color: #fff !important;
}

input::-webkit-input-placeholder {
  color: #ccccde !important;
}

input:hover::-webkit-input-placeholder {
  color: #fff !important;
}

.text-end button {
  border-radius: 2px;
}

textarea.form-control {
  resize: none;
  overflow: hidden;
  min-height: 38px;
  max-height: 200px;
  line-height: 1.7;
}

.input-group > .form-control {
  height: 3.6rem;
  background: #2326c2;
  border: 1px solid #01003a;
  padding: 16px;
}

.input-group textarea {
  height: 100px !important;
}

button.btn {
  isolation: isolate;
  width: 100%;
}

.copyright a {
  color: #01eafa;
}

.input-gradient {
  position: relative;
  padding: 2px;
}

.input-gradient input {
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.input-gradient:focus-within {
  padding: 2px;
  background: linear-gradient(-50deg, #e81cff 0%, #40c9ff 100%);
}

/* BACK TO TOP */
.back-to-top-btn {
  position: fixed;
  bottom: 12px;
  right: 8px;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 1000;
  background-color: rgb(0, 234, 250);
  border: 1px solid #011928;
  padding: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' class='bi bi-chevron-double-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' d='M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  border-radius: 2px;
  z-index: 1;
  transition: transform 0.3s ease;
}

.back-to-top-btn:hover {
  opacity: 0.85;
  transform: translateY(-6px);
}

.typing-text + .typing-text {
  margin-top: -3%;
}

/* SECTION CITATE */

.container-author {
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .container-author {
    flex-wrap: nowrap;
  }
}

.quote_container {
  margin: auto;
  color: #000079;
}

.logo-author {
  color: #000079;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}

.author-img-citate {
  max-width: 224px;
  margin: auto;
}

/* ANIMATION */

.animate {
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

.animate2 {
  animation-name: animate-fade-1;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

@keyframes animate-fade-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: animate-fade-1 2s ease-in-out forwards;
  position: relative;
  z-index: 10;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

.element1 {
  animation-duration: 0.5s;
}
.element2 {
  animation-duration: 1.5s;
}
.element3 {
  animation-duration: 2.5s;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
