@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat/montserrat-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat/montserrat-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-700.woff2") format("woff2");
}

:root {
  --base-font-family: "Montserrat", sans-serif;
}
/* STYLES COMMON */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--base-font-family);
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
  background-color: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
h1 {
  font-size: 40px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 52px;
  }
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 38px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 40px;
    margin-bottom: 28px;
    line-height: 48px;
  }
}

h3,
.h3 {
  font-size: 24px;
  line-height: 28px;
}

@media (min-width: 768px) {
  h3,
  .h3 {
    font-size: 32px;
    line-height: 38px;
  }
}

h4,
.h4 {
  font-size: 22px;
  line-height: 30px;
}

h5,
.h5 {
  font-size: 24px;
}

@media (min-width: 768px) {
  h5,
  .h5 {
    font-size: 32px;
  }
}

h6,
.h6 {
  font-size: 22px;
  line-height: 32px;
}

@media (min-width: 768px) {
  h6,
  .h6 {
    font-size: 26px;
    line-height: 36px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
}

p + p {
  padding-top: 16px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 28px;
  }
}

.sub-text {
  font-size: x-large;
  line-height: 32px;
}

b,
strong {
  font-weight: bold;
  letter-spacing: 0;
  font-weight: 700;
}

picture,
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #0c5adb;
  border-radius: 4px;
}

.picture-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* HEADER */
header {
  overflow: hidden;
}

.site-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #111111;
}
img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .site-header {
    background-image: url(../img/Yuri-Ivanov-bw-wide.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 83%;
  }
}

.bubble-speech {
  display: none;
}

@media screen and (min-width: 768px) {
  .bubble-speech {
    display: block;
    position: absolute !important;
    z-index: 1 !important;
    right: -27%;
    top: 24%;
    max-width: 254px;
    text-align: center;
    background-color: #4612a4;
    color: #fff;
    border-radius: 2px;
    padding: 12px;
    font-size: 22px;
    line-height: 30px;
  }

  .bubble-speech:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -7px;
    bottom: -25px;
    border: 20px solid;
    border-color: #4612a4 transparent transparent #4612a4;
    transform: rotate(25deg);
  }
}

.navigation {
  float: left;
  width: 100%;
  z-index: 10;
}

.nav-width {
  max-width: 1280px;
  margin: auto;
}

.navigation.fixed-top {
  padding: 16px 20px;
}

.navigation.bg-scrolled {
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 480px) {
  .navigation.fixed-top {
    padding: 16px 40px;
  }
}

.navigation {
  padding: 30px 0;
}

.logo {
  width: fit-content;
  float: left;
}

.logo-text {
  color: #00eafa;
  text-shadow: 2px 1px 3px #272424;
  font-size: 32px;
}

.color-text {
  color: #00eafa;
}

.navigation .logo img {
  max-width: 200px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0 !important;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  line-height: 18px;
  color: #0c1c94;
  display: block;
  transition: all 0.8s;
}

.sidenav a:hover,
.sidenav a:focus {
  padding-right: 8px;
  padding-left: 8px;
}

@media screen and (min-width: 1024px) {
  .sidenav a {
    font-size: 25px;
    line-height: 24px;
  }
  .bg-menu-sub {
    margin: -28px;
  }
}

.sidenav {
  background: url(../img/bg-menu.jpg) no-repeat center center / cover;
}

.bg-menu {
  background: rgb(0, 234, 250);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  text-shadow: 0px 3px 4px #03a9f4;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
  color: #0c1c94;
}

.hamburger-1 {
  width: 40px;
  height: 40px;
  position: relative;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.1s;
  font-size: 23px;
  cursor: pointer;
  color: #fff;
  float: right;
}
.hamburger-1 span {
  position: absolute;
  display: inline-block;
  background-color: #00eafa;
  width: 8px;
  height: 8px;
  margin: 2.6666666667px;
  border-radius: 20px;
  transition: all 0.3s linear;
}
.hamburger-1 span:nth-child(1),
.hamburger-1 span:nth-child(2),
.hamburger-1 span:nth-child(3) {
  top: 0;
}
.hamburger-1 span:nth-child(4),
.hamburger-1 span:nth-child(5),
.hamburger-1 span:nth-child(6) {
  top: 13.3333333333px;
}
.hamburger-1 span:nth-child(7),
.hamburger-1 span:nth-child(8),
.hamburger-1 span:nth-child(9) {
  top: 26.6666666667px;
}
.hamburger-1 span:nth-child(1),
.hamburger-1 span:nth-child(4),
.hamburger-1 span:nth-child(7) {
  left: 0;
}
.hamburger-1 span:nth-child(2),
.hamburger-1 span:nth-child(5),
.hamburger-1 span:nth-child(8) {
  left: 13.3333333333px;
}
.hamburger-1 span:nth-child(3),
.hamburger-1 span:nth-child(6),
.hamburger-1 span:nth-child(9) {
  left: 26.6666666667px;
}
.hamburger-1.is--active {
  transform: rotate(45deg);
}
.hamburger-1.is--active span:nth-child(5) {
  transform: scale(1.2);
}
.hamburger-1.is--active span:nth-child(1) {
  transform: translate(13.3333333333px, 13.3333333333px);
}
.hamburger-1.is--active span:nth-child(3) {
  transform: translate(-13.3333333333px, 13.3333333333px);
}
.hamburger-1.is--active span:nth-child(7) {
  transform: translate(13.3333333333px, -13.3333333333px);
}
.hamburger-1.is--active span:nth-child(9) {
  transform: translate(-13.3333333333px, -13.3333333333px);
}
.hamburger-1.is--active span:nth-child(2) {
  top: -4px;
  height: 20px;
}
.hamburger-1.is--active span:nth-child(4) {
  left: -4px;
  width: 20px;
}
.hamburger-1.is--active span:nth-child(6) {
  width: 20px;
  left: 30.6666666667px;
  transform: translateX(-13.3333333333px);
}
.hamburger-1.is--active span:nth-child(8) {
  height: 20px;
  top: 30.6666666667px;
  transform: translateY(-13.3333333333px);
}
.hamburger-1:not(.is--active):hover span:nth-child(1) {
  transform: translate(-1px, -1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(3) {
  transform: translate(1px, -1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(7) {
  transform: translate(-1px, 1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(9) {
  transform: translate(1px, 1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(2) {
  transform: translateY(-1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(4) {
  transform: translateX(-1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(8) {
  transform: translateY(1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(6) {
  transform: translateX(1px);
}
.hamburger-1:not(.is--active):hover span:nth-child(5) {
  transform: scale(1.4);
}

.navbar-right {
  margin-right: 0px !important;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 5%;
  transform: translate(-50%, -50%);
  color: #fff;
}

@media screen and (min-width: 480px) {
  .main-content {
    left: 30%;
    background: #00000021;
    border-radius: 50%;
  }
}

.circle {
  display: none;
}

@media screen and (min-width: 480px) {
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

.circle1 {
  width: 520px;
  height: 520px;
  border: 3px solid #00eafa1f;
}

.circle2 {
  width: 420px;
  height: 420px;
  border: 3px solid #00eafa4a;
}

.circle3 {
  width: 300px;
  height: 300px;
  border: 3px solid #00eafa94;
}

.circle p {
  background: #0c5adb;
  font-size: small;
  max-width: 250px;
}

/* CHAT WIDGET */
.chat-widget {
  position: fixed;
  bottom: 12px;
  left: 20px;
  z-index: 1;
}

.chat-button {
  border: none;
  width: 60px;
  height: 60px;
  font-size: 18px;
  cursor: pointer;
  color: rgb(10, 21, 97);
  background-color: rgb(0, 234, 250);
  border-radius: 2px;
}

.chat-box {
  display: none;
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 300px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.chat-header {
  background-color: rgb(0, 234, 250);
  color: rgb(10, 21, 97);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-chat {
  font-weight: 600;
}

.reply {
  font-size: small;
}

.reply::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 4px;
  border-radius: 50%;
  border: 2px solid #43b72a;
  background: #43b72a;
}

.chat-header .close-chat {
  background: none;
  border: none;
  color: rgb(10, 21, 97);
  font-size: 20px;
  cursor: pointer;
}

.chat-messages {
  height: 250px;
  padding: 10px;
  overflow-y: auto;
  background: rgba(0, 234, 250, 0.1);
}

.chat-messages .message {
  margin-bottom: 10px;
}

.chat-messages .bot-message {
  background: #fff;
  padding: 8px;
  border-radius: 2px;
  width: fit-content;
}

.chat-messages .user-message {
  background: rgba(0, 234, 250, 0.3);
  color: rgb(10, 21, 97);
  padding: 8px;
  border-radius: 2px;
  width: fit-content;
  margin-left: auto;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: small;
}

.chat-input button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  color: rgb(10, 21, 97);
}

.chat-input #send-message svg {
  transform: rotate(90deg);
}

.emoji-picker {
  padding: 10px;
  border-top: 1px solid #ddd;
  background: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* SECTION DIGITAL */
.section-bg {
  background: linear-gradient(90deg, rgb(4 9 47) -30%, rgb(21 19 198) 100%);
  background-image: url(https://wp.ditsolution.net/techno-new/wp-content/uploads/2022/09/footer-threee.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card-item {
  position: relative;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 1.2s ease;
}

.card-item img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  filter: blur(1.5px);
  border-radius: 2px;
}

/* CARDS WHY */
.section-why {
  background-image: url(../img/techno-animate-bg.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}
.cards-why .card-item {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 1;
  border-radius: 0;
}

.cards-why .card-item:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: #0c5adb;
  z-index: -1;
  transition: 0.3s;
}

.cards-why .card-item:hover::before {
  width: 100%;
}

.cards-why img {
  width: 2.5rem;
  min-width: 2.5rem;
  height: auto;
  filter: none;
  position: relative;
}

/* SECTION OUR TEAM */
.section-our-team {
  background: linear-gradient(90deg, rgb(4 9 47) -30%, rgb(21 19 198) 100%);
}
.section-our-team .item-team img {
  border-radius: 50%;
  width: 100px;
}
.about-me {
  object-fit: cover;
  height: 100%;
}

.block-teams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.block-about-me {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3),
    13px 13px 0 rgb(255 255 255 / 15%);
}

/* SECTION FOR.... */

.item-card {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3),
    13px 13px 0 rgb(255 255 255 / 15%);
}

.info-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.info-item ul {
  list-style: none;
}

.info-item ul > li {
  clear: left;
  padding: 0.5rem 0;
}

.info-item ul > li:before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  float: left;
  margin-left: -1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.info-item ul > li:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 510 510' style='max-width:100%25' height='100%25'%3E%3Cpath d='M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z' style='' fill='rgba(255, 255, 255, 0.6)'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  padding: 0.15rem;
  margin-right: 10px;
}

/* SECTION SERVICES */

.section-services {
  background: linear-gradient(90deg, rgb(4 9 47) -30%, rgb(21 19 198) 100%);
}

.services-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.hr-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.hr-with-text::before,
.hr-with-text::after {
  content: "";
  flex: 1;
  border-top: 1px solid #fff;
  margin: 0 10px;
}

/* SECTION SLIDER */
.wrapper-slider {
  position: relative;
  top: 0;
  width: 100vw;
  height: 85vh;
  max-width: 100%;
  max-height: 100%;
  background: rgb(21 19 198);
  overflow: hidden;
  border-radius: 2px;
}

.wrapper-slider .panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.wrapper-slider .panel._active {
  z-index: 10;
}

.wrapper-slider .trans-layer,
.wrapper-slider .section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wrapper-slider .trans-layer {
  background: #111111;
  transform: translateY(-100%) skew(0) rotate(0) scale(2);
  border-radius: 50%;
  transition: all 500ms ease-in-out;
  transition-delay: 500ms;
}
.wrapper-slider ._active .trans-layer {
  transform: translateY(0) skew(0) rotate(0) scale(2);
  transition-delay: 0ms;
}

.wrapper-slider .section {
  transform: translateY(100%);
  transition: all 500ms ease-in-out;
  transition-delay: 0ms;
  background: #111111;
}
.wrapper-slider ._active .section {
  transform: translateY(0);
  transition-delay: 500ms;
}

.wrapper-slider .section-content {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(30px);
  transition: all 500ms ease;
  transition-delay: 0s;
}
.wrapper-slider ._active .section-content {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 1000ms;
}

.wrapper-slider .nav-dots {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 20;
  width: 40px;
}

.wrapper-slider .nav-dot {
  width: 10px;
  height: 10px;
  margin: 20px auto;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  transition: all 300ms ease-out;
}
.wrapper-slider .nav-dot.active {
  background: rgb(50 48 243);
}

.wrapper-slider .next-btn,
.wrapper-slider .prev-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 20;
  border: 1px solid #fff;
  color: #fff;
  line-height: 25px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.wrapper-slider .next-btn {
  bottom: 10px;
  right: 14px;
}

.wrapper-slider .prev-btn {
  top: 10px;
  right: 14px;
}

.gallery-img {
  object-position: center;
  object-fit: cover;
  height: 100%;
}

/* SECTION TABLE PRICING */
.section-pricing {
  background: linear-gradient(90deg, rgb(4 9 47) -30%, rgb(21 19 198) 100%);
}

.pricing-table {
  display: flex;
  flex-direction: column;
  margin: 30px 30px 60px 30px;
  background: #11111163;
}

.pricing-table .pt-title {
  display: flex;
}

.pricing-table .pt-title .pt-title-wrap {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 18px;
  text-align: center;
}

.pricing-table .pt-title .pt-title-wrap .pt-row {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  min-height: 60px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid rgb(73 72 74 / 20%);
}

.pricing-table .pt-option {
  position: relative;
}

.pricing-table .pt-option .pt-option-item {
  width: 100%;
  margin-right: 0;
}

.pricing-table .pt-option .pt-option-item .pt-item .pt-item-wrap {
  display: flex;
  flex-direction: row;
  font-size: 1.375rem;
  line-height: 1.4;
  position: relative;
}

.pricing-table .pt-option .pt-option-item .pt-item .pt-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  min-height: 60px;
  padding: 0 15px;
  font-size: 16px;
  border-bottom: 1px solid rgb(73 72 74 / 20%);
}

.pricing-table .pt-option .pt-option-item .pt-item .pt-row:first-child {
  align-items: flex-start;
  text-align: left;
  font-weight: 600;
  border-right: 1px solid rgb(73 72 74 / 20%);
}

.pricing-table .pill::after {
  background-color: #052a67;
}

.pricing-table .pill.text-gradient {
  width: 100%;
}

.pricing-table .pt-option .pt-option-item .selected .pt-row {
  display: inline-flex;
  padding: 20px 15px;
}

.pricing-table .pt-option .pt-option-item .selected .pt-row {
  border-bottom: 0;
}

@media (max-width: 767px) {
  .section-pricing {
    display: none;
  }
}

/* SECTION PRICING CARD */

.section-pricing-card article {
  overflow: hidden;
  isolation: isolate;
  border-width: 2px;
  border-color: transparent;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
  background-color: rgb(42 42 42);
}

.section-pricing-card main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  z-index: 2;
}

.waves {
  inset: -30% 0 0 0;
  z-index: 1;
  overflow: hidden;
  color: rgb(29 31 32);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
}

.section-pricing-card article:hover .waves {
  inset: -30% -20% 0 -40%;
}

.top-text-gradient {
  background-image: linear-gradient(to right, #40c9ff, #e81cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-text-gradient2 {
  background-image: linear-gradient(to right, #499bea, #1abc9c);
}

.top-text-gradient3 {
  background-image: linear-gradient(to right, #0576ff, #24f8ff);
}

.pill {
  padding: 0.5rem 1.25rem;
  position: relative;
}
.pill::before,
.pill::after {
  content: "";
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: -1;
}
.pill::before {
  background: linear-gradient(-50deg, #e81cff 0%, #40c9ff 100%);
  border-radius: 2px;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.pill2::before {
  background: linear-gradient(-50deg, #499bea 0%, #1abc9c 100%);
}

.pill3::before {
  background: linear-gradient(-50deg, #0576ff 0%, #24f8ff 100%);
}

.pill::after {
  --border-edge: 2px;
  background: #2a2a2a;
  border-radius: 2px;
  height: calc(100% - calc(var(--border-edge)) * 2);
  left: var(--border-edge);
  top: var(--border-edge);
  width: calc(100% - calc(var(--border-edge)) * 2);
}
.pill:hover::before {
  background: -webkit-linear-gradient(-50deg, #e81cff 0%, #40c9ff 100%);
}

.pill2:hover::before {
  background: -webkit-linear-gradient(-50deg, #499bea 0%, #1abc9c 100%);
}

.pill3:hover::before {
  background: -webkit-linear-gradient(-50deg, #0576ff 0%, #24f8ff 100%);
}

.pill:hover::after {
  background-color: transparent;
}
.pill.text-gradient {
  background: -webkit-linear-gradient(-50deg, #e81cff 0%, #40c9ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
  text-decoration: none;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.pill2.text-gradient2 {
  background: -webkit-linear-gradient(-50deg, #499bea 0%, #1abc9c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
  text-decoration: none;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.pill3.text-gradient3 {
  background: -webkit-linear-gradient(-50deg, #0576ff 0%, #24f8ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
  text-decoration: none;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.pill.text-gradient:hover {
  -webkit-text-fill-color: white;
}

/* SECTION TIMELINE */
.timeline {
  width: 100%;
}
.timeline-content {
  position: relative;
  padding: 1rem 1rem 1rem 4rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  cursor: auto;
}
.timeline-content p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.timeline-content .number {
  position: absolute;
  content: var(--year);
  width: 2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  border-radius: 50%;
  background-color: #0c5adb;
  box-shadow: inset 0 0 0 1px #fff;
  border: 1px solid #fff;
  left: 17px;
  top: 12px;
}
.timeline-content:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}
.timeline-content:not(:last-child):before {
  position: absolute;
  content: "";
  width: 2px;
  background-color: #fff;
  color: #fff;
  left: calc(2rem - 0px);
  top: 2.74rem;
  bottom: -0.74rem;
  z-index: 1;
}

@media (min-width: 768px) {
  .timeline-img {
    max-width: 40%;
  }
}

.timeline-content .h6 {
  font-size: 22px;
}

/* SECTION CONTACT */
.item-container {
  background: rgba(0, 0, 0, 0.3);
}

.bg-block {
  background-color: rgb(15 50 148 / 80%);
  border: 1px solid rgb(6 26 68 / 50%);
  border-radius: 0;
}

.input:focus {
  outline: none !important;
  border: 1px solid transparent;
  box-shadow: 0 0 4px #fff;
  border-radius: 0;
  background-color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: #fff !important;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #fff !important;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #fff !important;
}

input::-webkit-input-placeholder {
  color: #fff !important;
}

.text-end button {
  border-radius: 2px;
}

textarea.form-control {
  resize: none;
  overflow: hidden;
  min-height: 38px;
  max-height: 200px;
  line-height: 1.7;
}

/* CARDS */
.card {
  border-radius: 0;
  background: linear-gradient(193deg, #191cae 53%, #3411e3d4 100%);
  box-shadow: inset 0 0 6px hsla(0, 0%, 100%, 0.2);
  position: relative;
  transition: all 1.2s ease;
  color: #fff;
  flex: 1 1 100%;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .card {
    flex: 1 1 calc(33.33% - 24px);
  }

  .card:nth-last-child(2),
  .card:last-child {
    flex: 1 1 calc(50% - 24px);
  }
}

.card:hover {
  box-shadow: inset 0 0 6px hsla(0, 0%, 100%, 0.4);
}

.card::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background: linear-gradient(45deg, #ffffff00, #ffffff 50%, #ffffff00);
  top: -1px;
  right: 20px;
  transition: all 1.2s ease;
}

.card:hover::before {
  right: calc(50% - 20px);
}

.card::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background: linear-gradient(45deg, #ffffff00, #ffffff87 50%, #ffffff00);
  bottom: -1px;
  left: 20px;
  transition: all 1.2s ease;
}

.card:hover::after {
  left: calc(50% - 20px);
}

.cards-w {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* BACK TO TOP */
.back-to-top-btn {
  position: fixed;
  bottom: 12px;
  right: 8px;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 1000;
  background-color: rgb(0, 234, 250);
  border: 1px solid #011928;
  padding: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' class='bi bi-chevron-double-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' d='M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  border-radius: 2px;
  z-index: 1;
  transition: transform 0.3s ease;
}

.back-to-top-btn:hover {
  opacity: 0.85;
  transform: translateY(-6px);
}

.typing-text + .typing-text {
  margin-top: -3%;
}

/* ANIMATION */

.animate {
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

.animate2 {
  animation-name: animate-fade-1;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

@keyframes animate-fade-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: animate-fade-1 2s ease-in-out forwards;
  position: relative;
  z-index: 10;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

.element1 {
  animation-duration: 0.5s;
}
.element2 {
  animation-duration: 1.5s;
}
.element3 {
  animation-duration: 2.5s;
}

/* SECTION CITATE */
.container-author {
  border: 1px solid #201e1e;
  box-shadow: 8px 8px #08080852;
  border-radius: 2px;
}

.quote_container {
  display: block;
  margin: auto;
  color: #211e1e;
}

.quote {
  text-align: center;
  margin-bottom: 30px;
}

.author {
  text-align: right;
}

.author-img-citate {
  max-width: 20%;
  margin-left: auto;
}
